@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Skranji", cursive;

  --light: hsl(0, 0%, 95%);
  --gray: hsl(0, 0%, 20%);
  --red: hsl(0, 78%, 42%);
}

body {
  padding: 0;
  line-height: inherit;

  padding-inline: max(5%, calc((100vw - 1000px) / 2));

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.flag {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--light);
  color: var(--gray);
}

.flag[aria-disabled="true"] {
  color: var(--red);
  background-color: unset;
  cursor: not-allowed;
}

.flag[aria-selected="true"] {
  background-color: var(--red);
  color: var(--light);
}

.btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: rgb(88, 101, 242);
  transition:
    background-color 0.17s ease,
    color 0.17s ease;
}

.btn:hover {
  background-color: rgb(71, 82, 196);
}

.btn:disabled {
  cursor: not-allowed;
  background-color: rgb(88, 101, 242, 0.5);
}

.btns {
  display: flex;
  gap: 1rem;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;

  box-shadow: 0 0 1px 3px rgb(124, 134, 238);
}
